*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
	
}


html {
	scroll-behavior: smooth;
}



.navbar,
.sec3,
.sec4,
.btn
	{
	background: linear-gradient(to right, #c33764 0%, #1d2671 100%);
	color: white;
	font-weight: bolder;
	border:none;
	}


/*typography*/

h1{
	font-size: 4em;
	font-weight: bold;
	text-shadow: 2px 2px 8px #880088;
}

.nav-link {
	font-size: 1.25em;
	letter-spacing: 3px;
	font-weight: bold;
	
}

.lead {
	color: #97ebf4;
	font-size: 1.25em;
	letter-spacing: 3px;
	font-weight: bold;

}


.btn a {
	text-decoration: none;
	color: #fff;
}

.btnport {
	font-size: 1.25em;
	letter-spacing: 3px;
}


#port-jumbo {
	/*border: 3px solid #007bff;*/
	padding: 8em 4em;
	width: 60%;

}

#jumbo-div {
	height: 100vh;
	/*width: 75vw;  this is for viewport width*/
	padding-top: 10%;
	/*background-image: url(../images/bg2.jpg);*/
	background-size: cover;
	border-radius: 0;
	/*margin-bottom: 0;*/
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ca002c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a70022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c6004c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a3003c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c0006a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239d0055' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b7008a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2394006e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}


.jumbotron h1 {
	color: #f2f2f2; 
	/*off white*/
	font-family: 'Open Sans', sans-serif;}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.dp {
	padding-left: 20%;
	padding-right: 20%;

}

.description {
	padding-top: 1%;
}

#about-me {
	margin-top:20px;
	margin-bottom: 20px;
}


/*media queries*/

/*mobile style*/
@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width:100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;

	}

	.jumbotron h1 {
		font-size: 20px;
	}

}

/*tablet style*/
@media only screen and(min-width: 410px) and (max-width: 960px){

}

/*desktop style*/
@media only screen and (min-width: 961px) {

}